<h1>New Vehicle</h1>
<form #form="ngForm" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <label for="make">Make</label>
    <select required class="form-control" id="make" name="make" #make="ngModel" [(ngModel)]="vehicle.makeId" (change)="onMakeChange()">
      <option value=""></option>
      <option *ngFor="let make of makes" value="{{make.id}}">{{make.name}}</option>
    </select>
    <div *ngIf="make.touched && make.invalid" class="alert alert-danger">Please specify the make</div>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <select required class="form-control" id="model" #model="ngModel" name="modelId" [(ngModel)]="vehicle.modelId">
      <option value=""></option>
      <option *ngFor="let model of models" value="{{model.id}}">{{model.name}}</option>
    </select>
    <div *ngIf="model.touched && model.invalid" class="alert alert-danger">Please specify the model</div>

  </div>
  <p>Is this vehicle registered?</p>
  <label for="registered" class="radio-inline">
    <input type="radio" name="isregistered" id="registered" [(ngModel)]="vehicle.isregistered" value="true">Yes
  </label>
  <label for="notregistered" class="radio-inline">
    <input type="radio" name="isregistered" id="notregistered" [(ngModel)]="vehicle.isregistered" value="false">No
  </label>

  <h2>New Features</h2>
  <div *ngFor="let feature of features" class="checkbox">
    <label for="feature{{feature.id}}">
      <input id="feature{{feature.id}}" type="checkbox" (change)="onfeaturetoggle(feature.id, $event)">{{feature.name}}
    </label>
  </div>
  <h2>Contact</h2>
  <div class="form-group">
    <label for="contactname">Name</label>
    <input required type="text" id="contactname" #name="ngModel" name="contactName" [(ngModel)]="vehicle.contact.name" class="form-control">
    <div *ngIf="name.touched && name.invalid" class="alert alert-danger">Please fill in the contact name</div>
  </div>
  <div class="form-group">
    <label for="contactphone">Phone</label>
    <input required type="text" id="contactphone" #phone="ngModel" name="contactPhone" [(ngModel)]="vehicle.contact.phone" class="form-control">
    <div *ngIf="phone.touched && phone.invalid" class="alert alert-danger">Please fill in the contact phone</div>
  </div>
  <div class="form-group">
    <label for="contactemail">Email</label>
    <input required type="text" id="contactemail" #email="ngModel" name="contactEmail" [(ngModel)]="vehicle.contact.email" class="form-control">
    <div *ngIf="email.touched && email.invalid" class="alert alert-danger">Please fill in the contact email</div>
  </div>
  <button [disabled]="form.invalid" class="btn btn-primary">Save</button>
</form>
